.group-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    font-size: 1.2em;
}

.group-name {
    font-weight: 500;
    font-size: 1.2em;
}

.group-container {
    width: 500px;
}